# Ignore raw and processed data
data/raw/test_data.csv
data/raw/train_data.csv
data/processed/train.csv
data/processed/test.csv


# Jupyter checkpoints
*.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

